* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img {
	display: flex;
    margin: 0 0 0 690px;
    height: 70px; 
    width: auto;
}

.logo a {
	margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {
    height: 650px;
    background: #494949;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    margin: 0 400px 0 400px;
    padding: 60px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.wrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
}

.wrapper h3 {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 300px;
}








