* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img {
	display: flex;
    margin: 0 0 0 690px;
    height: 70px; 
    width: auto;
}

.logo a {
	margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {
    height: 650px;
    background: #494949;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    margin: 0 35px 0 35px;
    padding: 60px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 45px;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.wrapper label {
  display: block;
  padding: 0 0 0 545px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.input-box input {
    width: 450px;
    margin: 5px 0 10px 550px;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 1px solid rgba(225, 225, 255, .2);
    border-radius: 15px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 15px 20px 15px;
}

.wrapper button {
  width: 400px;
  height: 45px;
  margin: 0 0 5px 595px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: #eb5e1d;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.2s;
}
.wrapper button:hover {
  background: #8d300b;
} 

#result {
    max-width: 350px;
    margin: 10px auto;
    padding: 15px;
    background: transparent;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    box-shadow: 0 1px 4px rgba(44, 62, 80, 0.08);
}

#result {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
table {
  margin: 5px 0 10px 555px;
  width: 480px;
}