* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img { 
    display: flex; 
    margin: 0 0 0 685px;
    height: 75px; 
    width: auto; 
}

.logo a {
	margin: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {       
    width: auto;      
    background: #494949;
    color: white;    border-radius: 25px;
    padding: 65px 250px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin: 50px auto;      
    position: relative;    
}


.buttons {
	text-align: center;	
    display: flex;
	align-items: center;
	justify-content: center;	
	gap: 5px;
}

.wrapper h1 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 35px;
    text-align: center;
    margin: 5px 0 50px 0px;
}

.wrapper p {
    text-decoration: none;
    margin-top: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}


.wrapper h3 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    text-align: center;
    margin: 25px 0 10px 0px;
}

.buttons .btn{
    width: 345px;
    margin: 5px 0 10px 20px;
    height: 50px;
    background: rgb(236, 102, 24);
    border: none;
    outline: none;
    font-weight: normal;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 2px rgba(41, 41, 41, 0.5);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600; 
    transition: 0.3s ease;
}

.buttons .btn:hover{
    background-color: rgb(175, 49, 3);
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

table {
    margin: 20px auto;  
    width: 480px;
}




/* --  MOBILE RESPONSIVE -- */

@media (max-width: 768px) {

.navbar {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo-img {
    margin: 0;           
    height: 100px; 
}

.wrapper {
    margin: 20px 10px;
    height: auto;       
    padding: 30px 15px;
}

.wrapper h1 {
    font-size: 28px;
}

.wrapper h3 {
     font-size: 20px;
}

.buttons {
    flex-direction: column;
}

.buttons .btn {
    box-shadow: none;
    width: 270px;        
    margin: 8px 0;
    font-size: 20px;
}

table {
    width: 100%; 
    margin: 20px 0;
}

table, th, td {
    font-size: 14px;
}

.table-container {
    width: 110%;
    overflow-x: auto;
}
}
