* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img {
	display: flex;
    margin: 0 0 0 690px;
    height: 70px; 
    width: auto;
}

.logo a {
	margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {
    height: 650px;
    background: #494949;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    margin: 0 75px 0 80px;
    padding: 60px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.buttons {
	text-align: center;	
    display: flex;
	align-items: center;
	justify-content: center;	
	gap: 5px;
}

.wrapper h1 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 35px;
    text-align: center;
    margin: 5px 0 50px 0px;
}

.wrapper h3 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    text-align: center;
    margin: 25px 0 10px 0px;
}

.buttons .btn{
    width: 345px;
    margin: 5px 0 10px 20px;
    height: 50px;
    background: rgb(236, 102, 24);
    border: none;
    outline: none;
    font-weight: normal;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 2px rgba(41, 41, 41, 0.5);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600; 
    transition: 0.3s ease;
}

.buttons .btn:hover{
    background-color: rgb(175, 49, 3);
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
table {
  margin: 5px 0 10px 490px;
  width: 480px;
}


