* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img { 
    display: flex; 
    margin: 0 0 0 685px;
    height: 75px; 
    width: auto; 
}

.logo a {
	margin: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {
    width: 650px;
    height: 600px;
    background: #494949;
    color: white;
    border-radius: 25px;
    padding: 60px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
}


.wrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 80px;
}

.wrapper h3 {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 300px;
    padding: 20px 5px 0 10px;
}


.logout {
    background-color: rgb(238, 88, 50);
    font-size: 15px;
    border-radius: 14px;
    margin-top: 20px;
    color: white;
    padding: 10px 15px;
    width: 110px;
    cursor: pointer;
    border: none;
}

.logout:hover{
    background: rgb(131, 30, 5);
}


.buttons button a {
    text-decoration: none;
    color: inherit;
    display: block; 
    padding: 0;
    width: 100%;
}


.input-box label {
    font-size: 16px;
    color: white;
}

.input-group {
    margin-top: 15px;
}

.input-group input {
    width: 300px;
    height: 40px;
    background: white;
    border: 1px solid rgba(225, 225, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 0 20px;
}

.update-btn {
    width: 40%;
    background-color: rgb(238, 88, 50);
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.update-btn:hover {
    background: rgb(131, 30, 5);
}

@media (max-width: 768px) {

    .nav {
        padding: 10px 20px;
        background-color: #1d1c1b;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        position: static;
        flex-basis: auto;
    }

    .logo-img {
        margin: 0 !important;
        height: 60px;
    }

    .logo a {
        font-size: 20px;
        margin-bottom: 0;
    }

    .wrapper {
        width: 90% !important;
        padding: 40px 8px !important;
        position: static !important;
        transform: none !important;
        margin: 20px auto !important;
    }

    .wrapper h3 {
        margin-bottom: 40px !important;
    }


    .prof .prof-img {
        width: 120px !important;
        height: 120px !important;
    }

    .input-group input {
        width: 75% !important;
        max-width: 100% !important;
    }

    .buttons {
        flex-direction: inherit;
        gap: 10px;
    }

    .change, .remove, .update-btn{
        width: 45% !important;
    }
}




