* {
    text-decoration: none;
}
 
body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px 50px;
    align-items: center;
	flex-shrink: 0;
}

.logo {
  display: flex;
  align-items: center;  
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img { 
    display: flex; 
    margin: 0 0 0 685px;
    height: 75px; 
    width: auto; 
}

.logo a {
	margin: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none; 
}

.wrapper {    
    
    width: auto;      
    background: #494949;
    color: white;    border-radius: 25px;
    padding: 55px 400px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin: 50px auto;      
    margin-top: 13px;
    position: relative;    
}

.wrapper h2 {
  text-align: center;
  margin-top: -35px;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.wrapper label {
  display: block;
  padding: 0 0 0 545px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
table {
  margin-right: 20px;
  width: 600px;
}