
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

* {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #363332; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0; 
}


/*-- Navbar section --- */
.navbar {
    display: flex;
    justify-content: space-between; 
    font-family: 'Titillium Web'; 
    text-transform: uppercase;
    padding: 15px 50px;
    backdrop-filter: blur(10px);
    align-items: center;
    position: fixed; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 90%; 
    flex-shrink: 0;
}

.nav * {
    box-sizing: border-box;
    transition: all .35 ease;
}

/* -- logo section -- */
.logo {
    display: flex;
    align-items: center; 
    gap: 0px; 
	flex-basis: 150px;
	flex-shrink: 0;
}

.logo-img {
	display: flex;
    height: 70px; 
    width: auto;
}

.logo a {
	margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
}

/* -- menu section */
.menu {
	flex-grow: 1;
	text-align: center;
}

ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0; 
    margin: 0;
}

ul li a {
	text-decoration: none;	
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}

.menu ul {
    display: inline-block; 
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 15px; 
    list-style: none;
    font-size: 16px;
}

/* -- buttons section -- */
.buttons {
	text-align: right;	
    display: flex;
	align-items: center;
	justify-content: flex-end;	
	gap: 10px;
}
.signIn, .signUp {
    background-color: transparent;
    border: 1px solid white;
	transition: .3s ease;
    border-radius: 20px; 
    color: white;
    padding: 10px 15px; 
    width: 100px;
    font-size: 15px;
    cursor: pointer
}

.signIn {
    border: none;
    border-radius: 0; 
    padding: 10px 15px; 
}

.signUp:hover {
	background-color: rgb(224, 106, 37);
}

.signIn:hover{
    text-decoration: underline;
}

.buttons button a {
    text-decoration: none;
    color: inherit;
    display: block; 
    padding: 0;
    width: 100%;
}

/* -- content section -- */

.content {
    margin: 250px auto; 
    margin-bottom: 35px;
    text-align: center;
    color: white;
    max-width: 900px;
    padding: 0 20px;
}


.content .par{
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: 'Titillium Web';
    line-height: 1.9; 
    margin: 0 auto 40px auto;
}

.content h1 { 
    font-family: 'Titillium Web';
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 20px; 
    letter-spacing: 2px;
}

.content .start-now {
	width: 160px;
	height: 40px;
	background: rgb(224, 89, 39);
	border: none;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}

.content .start-now a {
	text-decoration: none;
	color: white;
	transition: .3s ease;
}

.start-now:hover {
	background-color: rgb(145, 43, 3);
}

.how {
    scroll-margin-top: 50px;  
    margin: 350px auto;
    padding: 40px 100px;
    max-width: 900px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web' ;
}

.how h2 {
    font-size: 30px;
    text-decoration: underline;
}

.how p {
    text-align: left;
    font-size: 18px;
}

.how .result-img {
    border-radius: 20px;
}

.result-img {
    border-color: white;
}

.about {
    scroll-margin-top: 50px;
    margin: 150px auto;
    padding: 40px 150px;
    max-width: 900px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web';
}

.about p {
    text-align: left;
    font-size: 19px;
}

.about h2 {
    font-size: 30px;
    text-decoration: underline;
}

.contact {
    background: rgba(160, 55, 17, 0.85);
    margin: 70px auto;
    padding: 40px 30px;
    width: 90%;
    max-width: 900px;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web';
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contact-item {
    background: rgba(255, 255, 255, 0.15);
    padding: 18px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s ease;
}

.contact-item:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.03);
}
.contact-item i {
    font-size: 30px;
}


.contact-item a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-item a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

.navbar {
    flex-direction: column;
    height: 100px;
    text-align: left;
    position: static;
    transform: none;
    width: 100%;
    padding: 15px 0;
}

.menu ul {
    display: none;
}

.menu ul li {
    margin: 10px 0;
    font-size: 16px;
}

.buttons {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    width: 150px;
    font-size: 16px;
    padding: 10px;
}

.content h1 {
    font-size: 48px;
    text-align: left;
    font-weight: bold;
    line-height: 1.3;
}

.content .par {
    font-size: 16px;
}

.content {
     margin-top: 20px;
}

.how, .about {
    padding: 20px 20px;
    margin: 80px auto;
}

.how p, .about p {
    font-size: 16px;
    text-align: center;
}

.how img, .about img {
     width: 100%;
    height: auto;
    border-radius: 12px;
}

.contact {
        margin: 20px;
        padding: 25px;
    }

    .contact-item {
        padding: 15px;
    }

    .contact-item a {
        font-size: 18px;
    }
}

